*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    border: 1px solid none;
}
.form h2{
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    padding:10px;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
input[type='text']{
    padding: 10px;
    width: 50%;
    height: 50px;
    margin-right: 20px;
    outline: none;
    border: none;
    font-size: 1.2rem;
}
input[type='text']:focus{
    border-bottom: 1px solid rgba(223, 1, 1, 0.877);
}
input[type='submit']{
    padding: 10px 16px;
    height: 50px;
    margin-right: 20px;
    background-color: rgb(211, 156, 4);
    border-radius: 8px;
    color: rgb(1, 3, 14);
    outline: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.ol-list {
    width: 100%;
}
.ol-list li{
    position: relative;
}
.ol-list li:before {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    content: "•";
  }
.ol-list{
    min-height: 0;
    margin: 10px 0;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    background-color: #ebebeb;
    padding: 30px;
}
.ol-list li{
    display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    list-style: decimal;
    padding: 10px;
    font-size: 1.2rem;
}
.ol-list li:hover{
    background-color: #d6d3d3;
}
.ol-list li button{
    cursor: pointer;
    padding: 8px 12px;
    background-color: #000;
    color: #fff;
}

.completed{
    background-color: rgb(216, 223, 159);
}
.not-completed{
    background-color: #ebebeb;
}